<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
th:replace="base::Layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>
	<section>
		<h1>this is new about section</h1>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis
			reiciendis modi iste est optio officia explicabo officiis quibusdam
			maxime veniam? Culpa maxime consectetur doloribus vitae omnis
			pariatur rerum quis ad vel perspiciatis unde quibusdam praesentium
			quam qui mollitia et illo asperiores cupiditate nisi temporibus natus
			corrupti itaque obcaecati blanditiis harum!</p>

	</section>
</body>
</html>