<!doctype html>
<html lang="en" xmlns.th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
	<link rel="stylesheet" href="" th:href="@{/css/myStyle.css}" />
</head>
<body>
	 <div class="container">
	 <img alt="" src="" class="profile" th:src="@{/images/image1.jpg}"/>
	 
	 <h1>Adding CSS, javascript and Image in thymeleaf</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis officia velit porro repudiandae a itaque atque recusandae hic eligendi asperiores accusantium voluptatem aliquid minus omnis quisquam doloribus inventore laboriosam ex!</p>
	</div>
	
	<!-- Js linked-->
	<script src="" th:src="@{js/myJs.js}"></script>
</body>
</html>