<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8", xmlns.th="https://www.thymeleaf.org" />
	<title>Footer Template</title>
</head>
<body>
	<footer id=fragmentTag th:fragment="footer1(title,subtitle)">
	<div class="container">
	<h1 th:text="${title}"></h1>
	<h1 th:text="${subtitle}"></h1>
	<h1>Abhijit is a java developer</h1>
	<h1>provide Good content about programming</h1>
	<p>njjskmmsmmdcklsmlkcmmscl mnnsnklslk  ,mnlkckldckldlkc mnkdlkvklvlklkfldldlldld mnckjnkkdk</p>
	</div>
	</footer>
	
</body>
</html>